singularity.autoMounts = true
singularity.enabled = true

params{
  project_name = "NA12878"
  sample_sheet = "/home/gerrit/code/recalling/bam-to-cram/NA12878.samplesheet.tsv"
  out_dir = "/global5/scratch/gerrit/projects/adme/datasets/NA12878/nextflow-out"

  ref_seq = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta" 
}


executor{
    jobName = { "$task.tag" }
}

process {
    cache = true

    withLabel: samtools {
         container = 'docker://quay.io/grbot/samtools'
    }

}



profiles {
    standard {
        process.executor = 'local'
    }
    
    wits_slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.errorStrategy = 'retry'
	process.maxRetries = 5
        process.time = 96.h
	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}
